@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: @Model.BackgroundColor;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Message</p>
    <ul class="navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <span class="navbar-text text-dark">Hello @User.Identity.Name!</span>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
            </li>
        }

        @foreach (var _claim in ((ClaimsIdentity)User.Identity).Claims)
        {
            <p>@_claim.Type - @_claim.Value</p>
        }
    </ul>
</div>
